<li class="gallery-list__item">
    <div data-filmId="{{filmId}}" class="gallery-list__card">
        <div class="gallery-list__poster">
            <img class="gallery-list__img" src="{{urlImg}}" alt="{{title}}" loading="lazy" />
        </div>

        <div class="gallery-list__description">
            <h2 class="gallery-list__titel">{{title}}</h2>
            <div class="gallery-list__info">

                <p class="gallery-list__genre">{{ganres}} | <span class="gallery-list__Year">{{relisYer}}</span> </p>

            </div>
            </div>
    </div>
</li>